In [ ]:
CREATE OR REPLACE TABLE EXPENSES_DB.PUBLIC.PERSONAL_EXPENSES (
   tran_id          INT IDENTITY(1,1) PRIMARY KEY,
   tran_date        DATE NOT NULL,
   tran_details     VARCHAR(255),
   amount           DECIMAL(10,2) NOT NULL,
   cat_id           INT,
   payment_method   VARCHAR(8)
);

In [ ]:
CREATE OR REPLACE TABLE EXPENSES_DB.PUBLIC.CATEGORY_LOOKUP (
	CAT_ID INT PRIMARY KEY,
	CAT_TYPE VARCHAR(255),
	CAT_FILTER BOOLEAN
);

In [ ]:
CREATE OR REPLACE TABLE EXPENSES_DB.PUBLIC.EXPENSES_CATEGORY (
	EXP_NAME    NVARCHAR(50),
    CAT_ID      INT
);

In [ ]:
CREATE OR REPLACE TABLE EXPENSES_DB.PUBLIC.AMEX_EXPENSES (
	DATE VARCHAR(10),
	DESCRIPTION VARCHAR(255),
	AMOUNT NUMBER(38,2)
);

In [ ]:
CREATE OR REPLACE TABLE EXPENSES_DB.PUBLIC.COMMBANK_EXPENSES (
	DATE VARCHAR(10),
	AMOUNT NUMBER(38,2),
	DESCRIPTION VARCHAR(255)
);